* {
    box-sizing: border-box;
}

/*селектор с перечислением | с целью контроляотступов и размеров*/
body, h1, h2, h3, h4, p {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

body {
    min-width: 850px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

header {
    height: 100vh;
    background-color: #eee;

    background-image: url(https://code.s3.yandex.net/web-code/images/freetrack/03/cover.png);
    background-size: cover;
    background-position: center;

    text-align: center;
  }

h1 {
    font-size: 74px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 270px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(95 13 238 / 0.5);
}

.card {
    width: 360px;
    background-color: #e3f3ff;
    margin-bottom: 50px;
    padding: 25px 25px 30px 25px;
    border: 1px solid rgb(250 50 50 / .4);
}

.card-title {
    font-size: 31px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
}

.card-image {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px 25px 30px 25px;
    border: 1px solid rgb(250 50 50 / .4);
}